{% extends "generic/base/skelton.html" %}
{% block title %}Logon{% endblock %}
{% block style %}
<link href="{{ STATIC_URL }}css/local/auth.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/local/form.error.css" rel="stylesheet">
{% endblock %}
{% block script %}
<script src="{{ STATIC_URL }}js/vendor/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}js/local/auth.js"></script>
{% endblock %}
{% block body %}
{% include "generic/include/navbar.html" %}
<!-- FORGOT PASSWORD FORM -->
<div id="fgt-div" class="text-center" style="padding:50px 0;display: none">
    <div class="logo">forgot password</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="forgot-password-form" class="text-left">
            <div class="etc-login-form">
                <p>When you fill in your registered email address, you will be sent instructions on how to reset your password.</p>
            </div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="fp_email" class="sr-only">Email address</label>
                        <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>already have an account? <a href="#">login here</a></p>
                <p>new user? <a href="#">create new account</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
{% endblock %}